---
title: 🔗 for Meatball Diaries
---

<div id="main">
  <% if !data.links.recipes.nil? %>
    <p class="sub-header"><%= data.links.title %></p>
    <div id="flex-container">
    <% data.links.recipes.each do |recipieAndLink| %>
      <div class="post">
        <a href="<%= recipieAndLink.link %>">
          <img class="post-image" decoding="async" loading="lazy" src="https://ik.imagekit.io/ratfuufta4/<%= recipieAndLink.image %>">
        </a>
      </div>
    <% end %>
    </div>
  <% else %>
    <p>Come back for delicious recipes!</p>
  <% end %>
</div>

<%= mail_to(
  "meatballdiaries@gmail.com",
  "meatballdiaries@gmail.com"
) %>
