---
title: 🔗 for Meatball Diaries
---

<div id="main">
  <p class="sub-header">🔗 for Meatball Diaries</p>
  <div id="postFlex">
    <% data.recipes.posts.each do |recipieAndLink| %>
      <div class="post">
        <div class="innerBox">
          <a href="<%= recipieAndLink[1] %>">
            <img async src="<%= recipieAndLink[0] %>">
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
