---
title: 🔗 for Meatball Diaries
---

<div id="main">
  <p class="sub-header">Tap the photo for recipies.</p>
  <div id="postFlex">
    <% data.recipes.posts.each do |recipieAndLink| %>
      <div class="post">
        <div class="innerBox">
          <a href="<%= recipieAndLink[1] %>">
            <img class="contained" decoding="async" loading="lazy" src="<%= recipieAndLink[0] %>">
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= mail_to(
  "meatballdiaries@gmail.com",
  "meatballdiaries@gmail.com"
) %>
