---
title: 🔗 for Meatball Diaries
---

<div id="main">
  <% if !data.links.recipes.nil? %>
    <p class="sub-header">Tap the photo for recipies.</p>
    <div id="flex-container">
    <% data.links.recipes.each do |recipieAndLink| %>
      <div class="post">
        <div class="innerBox">
          <a href="<%= recipieAndLink.link %>">
            <img class="post-image" decoding="async" loading="lazy" src="<%= recipieAndLink.image %>">
          </a>
        </div>
      </div>
    <% end %>
    </div>
  <% else %>
    <p>Come back for delicious recipes!</p>
  <% end %>
</div>

<%= mail_to(
  "meatballdiaries@gmail.com",
  "meatballdiaries@gmail.com"
) %>
